In [1]:
import numpy as np
import pandas as pd

In [23]:
def pregunta_01():
    """
    En este punto se realiza la lectura de conjuntos de datos.
    Complete el código presentado a continuación.
    """
    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = pd.read_csv('gm_2008_region.csv')

    # Asigne la columna "life" a `y` y la columna "fertility" a `X`
    y = df['life']
    X = df['fertility']

    # Imprima las dimensiones de `y`
    print(y.shape)

    # Imprima las dimensiones de `X`
    print(X.shape)

    # Transforme `y` a un array de numpy usando reshape
    y_reshaped = np.array(y).reshape(139,1)

    # Trasforme `X` a un array de numpy usando reshape
    X_reshaped = np.array(X).reshape(139,1)

    # Imprima las nuevas dimensiones de `y`
    print(y_reshaped.shape)

    # Imprima las nuevas dimensiones de `X`
    print(X_reshaped.shape)

In [2]:
# Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
df = pd.read_csv('gm_2008_region.csv')

In [3]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [4]:
df.shape

(139, 10)

In [12]:
# Asigne la columna "life" a `y` y la columna "fertility" a `X`
y = df['life']
X = df['fertility']

In [6]:
y.head()

0    75.3
1    58.3
2    75.5
3    72.5
4    81.5
Name: life, dtype: float64

In [7]:
X.head()

0    2.73
1    6.43
2    2.24
3    1.40
4    1.96
Name: fertility, dtype: float64

In [8]:
# Imprima las dimensiones de `y`
print(y.shape)

(139,)

In [13]:
# Imprima las dimensiones de `X`
print(X.shape)

(139,)

In [18]:
# Transforme `y` a un array de numpy usando reshape
y_reshaped = np.array(y).reshape(139,1)

In [24]:
print(y_reshaped.shape)

(139, 1)

In [21]:
# Trasforme `X` a un array de numpy usando reshape
X_reshaped = np.array(X).reshape(139,1)

In [22]:
print(X_reshaped.shape)

(139, 1)