In [1]:
import numpy as np
import pandas as pd

In [41]:
def pregunta_01():
    """
    En este punto se realiza la lectura de conjuntos de datos.
    Complete el código presentado a continuación.
    """
    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = pd.read_csv('gm_2008_region.csv')

    # Asigne la columna "life" a `y` y la columna "fertility" a `X`
    y = df['life'].values
    X = df['fertility'].values

    # Imprima las dimensiones de `y`
    print(y.shape)

    # Imprima las dimensiones de `X`
    print(X.shape)

    # Transforme `y` a un array de numpy usando reshape
    y_reshaped = y.reshape(len(y),1)

    # Trasforme `X` a un array de numpy usando reshape
    X_reshaped = X.reshape(len(X),1)

    # Imprima las nuevas dimensiones de `y`
    print(y_reshaped.shape)

    # Imprima las nuevas dimensiones de `X`
    print(X_reshaped.shape)

In [2]:
# Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
df = pd.read_csv('gm_2008_region.csv')

In [3]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [4]:
df.shape

(139, 10)

In [26]:
# Asigne la columna "life" a `y` y la columna "fertility" a `X`
y = df['life'].values
X = df['fertility'].values

In [28]:
# Imprima las dimensiones de `y`
print(y.shape)

(139,)

In [29]:
# Imprima las dimensiones de `X`
print(X.shape)

(139,)

In [30]:
# Transforme `y` a un array de numpy usando reshape
#y_reshaped = np.array(y).reshape(139,1)

In [31]:
#print(y_reshaped.shape)

In [32]:
# Trasforme `X` a un array de numpy usando reshape
#X_reshaped = np.array(X).reshape(139,1)

In [33]:
#print(X_reshaped.shape)

In [37]:
y_reshaped = y.reshape(len(y),1)

In [38]:
print(y_reshaped.shape)

(139, 1)

In [39]:
X_reshaped = X.reshape(len(X),1)

In [40]:
print(X_reshaped.shape)

(139, 1)

In [42]:
def pregunta_02():
    """
    En este punto se realiza la impresión de algunas estadísticas básicas
    Complete el código presentado a continuación.
    """

    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = ____

    # Imprima las dimensiones del DataFrame
    print(____.____)

    # Imprima la correlación entre las columnas `life` y `fertility` con 4 decimales.
    print(____)

    # Imprima la media de la columna `life` con 4 decimales.
    print(____)

    # Imprima el tipo de dato de la columna `fertility`.
    print(____)

    # Imprima la correlación entre las columnas `GDP` y `life` con 4 decimales.
    print(____)

In [44]:
def pregunta_02():
    """
    En este punto se realiza la impresión de algunas estadísticas básicas
    Complete el código presentado a continuación.
    """

    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = pd.read_csv('gm_2008_region.csv')

    # Imprima las dimensiones del DataFrame
    print(df.shape)

    # Imprima la correlación entre las columnas `life` y `fertility` con 4 decimales.
    print(df['life'].corr(df['fertility']).round(4))

    # Imprima la media de la columna `life` con 4 decimales.
    print(round(df['life'].mean(),4))

    # Imprima el tipo de dato de la columna `fertility`.
    print(____)

    # Imprima la correlación entre las columnas `GDP` y `life` con 4 decimales.
    print(____)

In [45]:
# Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
df = pd.read_csv('gm_2008_region.csv')

In [46]:
# Imprima las dimensiones del DataFrame
print(df.shape)

(139, 10)

In [59]:
# Imprima la correlación entre las columnas `life` y `fertility` con 4 decimales.
print(df['life'].corr(df['fertility']).round(4))

-0.7869

In [66]:
# Imprima la media de la columna `life` con 4 decimales.
print(round(df['life'].mean(),4))

69.6029

In [74]:
# Imprima el tipo de dato de la columna `fertility`.
print(type(df['fertility']))

<class 'pandas.core.series.Series'>

In [75]:
# Imprima la correlación entre las columnas `GDP` y `life` con 4 decimales.
print(df['GDP'].corr(df['life']).round(4))

0.629