In [1]:
import numpy as np
import pandas as pd

In [41]:
def pregunta_01():
    """
    En este punto se realiza la lectura de conjuntos de datos.
    Complete el código presentado a continuación.
    """
    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = pd.read_csv('gm_2008_region.csv')

    # Asigne la columna "life" a `y` y la columna "fertility" a `X`
    y = df['life'].values
    X = df['fertility'].values

    # Imprima las dimensiones de `y`
    print(y.shape)

    # Imprima las dimensiones de `X`
    print(X.shape)

    # Transforme `y` a un array de numpy usando reshape
    y_reshaped = y.reshape(len(y),1)

    # Trasforme `X` a un array de numpy usando reshape
    X_reshaped = X.reshape(len(X),1)

    # Imprima las nuevas dimensiones de `y`
    print(y_reshaped.shape)

    # Imprima las nuevas dimensiones de `X`
    print(X_reshaped.shape)

In [2]:
# Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
df = pd.read_csv('gm_2008_region.csv')

In [3]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [4]:
df.shape

(139, 10)

In [26]:
# Asigne la columna "life" a `y` y la columna "fertility" a `X`
y = df['life'].values
X = df['fertility'].values

In [28]:
# Imprima las dimensiones de `y`
print(y.shape)

(139,)

In [29]:
# Imprima las dimensiones de `X`
print(X.shape)

(139,)

In [30]:
# Transforme `y` a un array de numpy usando reshape
#y_reshaped = np.array(y).reshape(139,1)

In [31]:
#print(y_reshaped.shape)

In [32]:
# Trasforme `X` a un array de numpy usando reshape
#X_reshaped = np.array(X).reshape(139,1)

In [33]:
#print(X_reshaped.shape)

In [37]:
y_reshaped = y.reshape(len(y),1)

In [38]:
print(y_reshaped.shape)

(139, 1)

In [39]:
X_reshaped = X.reshape(len(X),1)

In [40]:
print(X_reshaped.shape)

(139, 1)

In [42]:
def pregunta_02():
    """
    En este punto se realiza la impresión de algunas estadísticas básicas
    Complete el código presentado a continuación.
    """

    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = ____

    # Imprima las dimensiones del DataFrame
    print(____.____)

    # Imprima la correlación entre las columnas `life` y `fertility` con 4 decimales.
    print(____)

    # Imprima la media de la columna `life` con 4 decimales.
    print(____)

    # Imprima el tipo de dato de la columna `fertility`.
    print(____)

    # Imprima la correlación entre las columnas `GDP` y `life` con 4 decimales.
    print(____)

In [76]:
def pregunta_02():
    """
    En este punto se realiza la impresión de algunas estadísticas básicas
    Complete el código presentado a continuación.
    """

    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = pd.read_csv('gm_2008_region.csv')

    # Imprima las dimensiones del DataFrame
    print(df.shape)

    # Imprima la correlación entre las columnas `life` y `fertility` con 4 decimales.
    print(df['life'].corr(df['fertility']).round(4))

    # Imprima la media de la columna `life` con 4 decimales.
    print(round(df['life'].mean(),4))

    # Imprima el tipo de dato de la columna `fertility`.
    print(type(df['fertility']))

    # Imprima la correlación entre las columnas `GDP` y `life` con 4 decimales.
    print(df['GDP'].corr(df['life']).round(4))

In [45]:
# Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
df = pd.read_csv('gm_2008_region.csv')

In [46]:
# Imprima las dimensiones del DataFrame
print(df.shape)

(139, 10)

In [59]:
# Imprima la correlación entre las columnas `life` y `fertility` con 4 decimales.
print(df['life'].corr(df['fertility']).round(4))

-0.7869

In [66]:
# Imprima la media de la columna `life` con 4 decimales.
print(round(df['life'].mean(),4))

69.6029

In [74]:
# Imprima el tipo de dato de la columna `fertility`.
print(type(df['fertility']))

<class 'pandas.core.series.Series'>

In [75]:
# Imprima la correlación entre las columnas `GDP` y `life` con 4 decimales.
print(df['GDP'].corr(df['life']).round(4))

0.629

In [77]:
def pregunta_03():
    """
    Entrenamiento del modelo sobre todo el conjunto de datos.
    Complete el código presentado a continuación.
    """

    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = ____

    # Asigne a la variable los valores de la columna `fertility`
    X_fertility = ____

    # Asigne a la variable los valores de la columna `life`
    y_life = ____

    # Importe LinearRegression
    from ____ import ____

    # Cree una instancia del modelo de regresión lineal
    reg = ____

    # Cree El espacio de predicción. Esto es, use linspace para crear
    # un vector con valores entre el máximo y el mínimo de X_fertility
    prediction_space = ____(
        ____,
        ____,
    ).reshape(____, _____)

    # Entrene el modelo usando X_fertility y y_life
    reg.fit(____, ____)

    # Compute las predicciones para el espacio de predicción
    y_pred = reg.predict(prediction_space)

    # Imprima el R^2 del modelo con 4 decimales
    print(____.score(____, ____).round(____))

In [149]:
def pregunta_03():
    """
    Entrenamiento del modelo sobre todo el conjunto de datos.
    Complete el código presentado a continuación.
    """

    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = pd.read_csv('gm_2008_region.csv')

    # Asigne a la variable los valores de la columna `fertility`
    X_fertility = df['fertility'].values

    # Asigne a la variable los valores de la columna `life`
    y_life = df['life'].values

    # Importe LinearRegression
    from sklearn.linear_model import LinearRegression

    # Cree una instancia del modelo de regresión lineal
    reg = LinearRegression(fit_intercept=True, normalize=False,)

    # Cree El espacio de predicción. Esto es, use linspace para crear
    # un vector con valores entre el máximo y el mínimo de X_fertility
    prediction_space = np.linspace(X_fertility.min(), X_fertility.max()).reshape(50,1)

    # Entrene el modelo usando X_fertility y y_life
    reg.fit(X_fertility.reshape(len(X_fertility), 1), y_life.reshape(len(y_life), 1))

    # Compute las predicciones para el espacio de predicción
    y_pred = reg.predict(prediction_space)

    # Imprima el R^2 del modelo con 4 decimales
    print(reg.score(X_fertility.reshape(len(X_fertility), 1), y_life.reshape(len(y_life), 1)).round(4))

In [80]:
# Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
df = pd.read_csv('gm_2008_region.csv')

In [81]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [127]:
# Asigne a la variable los valores de la columna `fertility`
X_fertility = df['fertility'].values

In [128]:
# Asigne a la variable los valores de la columna `life`
y_life = df['life'].values

In [129]:
# Importe LinearRegression
from sklearn.linear_model import LinearRegression

In [130]:
# Cree una instancia del modelo de regresión lineal
reg = LinearRegression(fit_intercept=True, normalize=False,)

In [142]:
# Cree El espacio de predicción. Esto es, use linspace para crear
# un vector con valores entre el máximo y el mínimo de X_fertility
prediction_space = np.linspace(X_fertility.min(), X_fertility.max()).reshape(50,1)

In [143]:
prediction_space

array([[1.28      ],
       [1.40877551],
       [1.53755102],
       [1.66632653],
       [1.79510204],
       [1.92387755],
       [2.05265306],
       [2.18142857],
       [2.31020408],
       [2.43897959],
       [2.5677551 ],
       [2.69653061],
       [2.82530612],
       [2.95408163],
       [3.08285714],
       [3.21163265],
       [3.34040816],
       [3.46918367],
       [3.59795918],
       [3.72673469],
       [3.8555102 ],
       [3.98428571],
       [4.11306122],
       [4.24183673],
       [4.37061224],
       [4.49938776],
       [4.62816327],
       [4.75693878],
       [4.88571429],
       [5.0144898 ],
       [5.14326531],
       [5.27204082],
       [5.40081633],
       [5.52959184],
       [5.65836735],
       [5.78714286],
       [5.91591837],
       [6.04469388],
       [6.17346939],
       [6.3022449 ],
       [6.43102041],
       [6.55979592],
       [6.68857143],
       [6.81734694],
       [6.94612245],
       [7.07489796],
       [7.20367347],
       [7.33244898],
       [7.46122449],
       [7.59      ]])

In [137]:
# Entrene el modelo usando X_fertility y y_life
reg.fit(X_fertility.reshape(len(X_fertility), 1), y_life.reshape(len(y_life), 1))

C:\Users\FERNANDO\Anaconda3\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(

LinearRegression(normalize=False)

In [144]:
# Compute las predicciones para el espacio de predicción
y_pred = reg.predict(prediction_space)

In [153]:
# Imprima el R^2 del modelo con 4 decimales y_pred
print(reg.score(X_fertility.reshape(len(X_fertility), 1), y_life.reshape(len(y_life), 1)).round(4))

0.6192

In [154]:
def pregunta_04():
    """
    Particionamiento del conjunto de datos usando train_test_split.
    Complete el código presentado a continuación.
    """

    # Importe LinearRegression
    # Importe train_test_split
    # Importe mean_squared_error
    from ____ import ____

    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = ____

    # Asigne a la variable los valores de la columna `fertility`
    X_fertility = ____

    # Asigne a la variable los valores de la columna `life`
    y_life = ____

    # Divida los datos de entrenamiento y prueba. La semilla del generador de números
    # aleatorios es 53. El tamaño de la muestra de entrenamiento es del 80%
    (X_train, X_test, y_train, y_test,) = ____(
        ____,
        ____,
        test_size=____,
        random_state=____,
    )

    # Cree una instancia del modelo de regresión lineal
    linearRegression = ____

    # Entrene el clasificador usando X_train y y_train
    ____.fit(____, ____)

    # Pronostique y_test usando X_test
    y_pred = ____

    # Compute and print R^2 and RMSE
    print("R^2: {:6.4f}".format(linearRegression.score(X_test, y_test)))
    rmse = np.sqrt(____(____, ____))
    print("Root Mean Squared Error: {:6.4f}".format(rmse))

In [234]:
def pregunta_04():
    """
    Particionamiento del conjunto de datos usando train_test_split.
    Complete el código presentado a continuación.
    """

    # Importe LinearRegression
    # Importe train_test_split
    # Importe mean_squared_error
    from sklearn.linear_model import LinearRegression
    from sklearn.model_selection import train_test_split
    from sklearn.metrics import mean_squared_error, r2_score

    # Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
    df = pd.read_csv('gm_2008_region.csv')

    # Asigne a la variable los valores de la columna `fertility`
    X_fertility = df['fertility'].values

    # Asigne a la variable los valores de la columna `life`
    y_life = df['life'].values

    # Divida los datos de entrenamiento y prueba. La semilla del generador de números
    # aleatorios es 53. El tamaño de la muestra de entrenamiento es del 80%
    (X_train, X_test, y_train, y_test,) = train_test_split(
            X_fertility,
            y_life,
            test_size= round(0.8*len(X_fertility)),
            random_state= 53,
        )

    # Cree una instancia del modelo de regresión lineal
    linearRegression = LinearRegression(fit_intercept=True, normalize=False,)

    # Entrene el clasificador usando X_train y y_train
    linearRegression.fit(X_train.reshape(len(X_train),1), y_train.reshape(len(y_train),1))

    # Pronostique y_test usando X_test
    y_pred = ____

    # Compute and print R^2 and RMSE
    print("R^2: {:6.4f}".format(linearRegression.score(X_test, y_test)))
    rmse = np.sqrt(____(____, ____))
    print("Root Mean Squared Error: {:6.4f}".format(rmse))

In [277]:
# Importe LinearRegression
# Importe train_test_split
# Importe mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [302]:
# Lea el archivo `gm_2008_region.csv` y asignelo al DataFrame `df`
df = pd.read_csv('gm_2008_region.csv')

In [303]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [304]:
# Asigne a la variable los valores de la columna `fertility`
X_fertility = df['fertility'].values

# Asigne a la variable los valores de la columna `life`
y_life = df['life'].values

In [305]:
#X_fertility.reshape(len(X_fertility),1)
#y_life.reshape(len(y_life),1)

In [306]:
# Divida los datos de entrenamiento y prueba. La semilla del generador de números
# aleatorios es 53. El tamaño de la muestra de entrenamiento es del 80%
(X_train, X_test, y_train, y_test,) = train_test_split(
        X_fertility,
        y_life,
        test_size= round(0.8*len(X_fertility)),
        random_state= 53,
    )

In [298]:
# Cree una instancia del modelo de regresión lineal
linearRegression = LinearRegression(fit_intercept=True, normalize=False,)

In [299]:
# Entrene el clasificador usando X_train y y_train
linearRegression.fit(X_train.reshape(len(X_train),1), y_train.reshape(len(y_train),1))

C:\Users\FERNANDO\Anaconda3\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(

LinearRegression(normalize=False)

In [300]:
# Pronostique y_test usando X_test
y_pred = linearRegression.predict(X_test.reshape(len(X_test),1))

In [301]:
# Compute and print R^2 and RMSE
print("R^2: {:6.4f}".format(linearRegression.score(X_test.reshape(len(X_test),1), y_test.reshape(len(y_test),1))))
#rmse = np.sqrt(____(____, ____))
#rmse = np.sqrt(np.mean((y_pred.reshape(len(y_pred),1) - y_test.reshape(len(y_test),1))**2))
#print("Root Mean Squared Error: {:6.4f}".format(rmse))

R^2: 0.6055